.news-header {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.news-header-logo {
    height: 50px;
    padding: 0  10%;
}

.news-header-active, .news-header-list li :hover{
    color: #89c5d7;
}


.news-header-list{
    padding-left: 0;
    display: flex;
    column-gap: 20px;
    padding-right: 10%;
}

.news-header-list li{
    list-style: none;
    transition: all 0.25s ease-in;
}

.news-header-unactive{
    color: #282c3f;
}