
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600);

body {
overflow-x: hidden;
overflow-y: auto;
font-family: "Roboto";
}

a{
    text-decoration: none;
    display: contents;
}


.app-layout-container{
    display: flex;
    align-items: center;
    margin:120px 10%;
    flex-wrap: wrap;
}